.iconWrapper > svg {
  width: 24px;
  height: 24px;
}

.wrapper {
  box-shadow: 0px 0px 100px 1px rgba(var(--rgb-primary-color), 0.1);
  transition: transform 0.4s var(--ease-in-out);
  cursor: pointer;
}

.wrapper:hover {
  transform: translateY(-8px);
  transition: transform 0.2s var(--ease-out);
}
